.row>*
  border: 1px solid #e41c1c

/*--------------------------------------------------------------
  PATRONES DE COLORES
  ------------------------------------------------------------*/
/*Fondos*/
$principal: #275D8C 
$secundario: #01223F 
$tercero: #FFFFFF

/*Textos*/
$texto: #013059 
$texto2: #F2E8D7 
$redes_texto: #FFFFFF

/*Iconos*/
$mundo: #49B183
$telefono: #FBC500
$sobre: #DC454E
$whatsapp: #42E860

/* Color Theme Swatches in Hex */

// $BY-THE-LAKE---IN-WINTERTIME !-1-hex: #013059;
// $BY-THE-LAKE---IN-WINTERTIME !-2-hex: #01223F;
// $BY-THE-LAKE---IN-WINTERTIME !-3-hex: #275D8C;
// $BY-THE-LAKE---IN-WINTERTIME !-4-hex: #F2E8D7;
// $BY-THE-LAKE---IN-WINTERTIME !-5-hex: #D8B495;

/*----------------------------------
  1. TIPOGRAFIA DEL SITIO
  --------------------------------*/
html 
  font-size: 13px 
body 
  font-family: 'Arial'
  color: $texto
  height: 5000px
/*----------------------------------
  2. ESTILOS GENERALES DE BOTONES
  --------------------------------*/

.btn
  border-radius: 2rem
  padding: .6rem 2rem
  font-weight: bold  

/*----------------------------------
  3. ESTILOS COLOR PRINCIPAL
  ---------------------------------*/
.bg-primary 
  background-color: $principal !important 
  
.text-primary 
  color: $principal !important

/*Estilos btn-primary*/
.btn-primary
  color: $redes_texto
  background-color: $principal
  border-color: $principal
  position: relative
  overflow: hidden
  z-index: 1
  transition: all .5s ease

.btn-primary:hover
  color: $texto
  background-color: $tercero
  border-color: $principal

.btn-primary:active
  color: $texto !important
  background-color: lighten($principal, 5%) !important
  border-color: lighten($principal, 8%) !important

.btn-primary:focus
  box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important
  color: $texto

/*Insertamos la flecha del boton principal*/
.btn-primary::after
  font-family: 'Font Awesome 5 Free'
  content: '\f138'
  font-weight: 900
  position: relative
  left: .6rem
  top: .08rem
  transition: left .3s ease

.btn-primary:hover::after,
.btn-primary:active::after,
.btn-primary:focus::after
  left: .25rem

/*Insertamos la caja blanca del boton principal*/
.btn-primary::before
  content: ""
  z-index: -1
  width: 0
  height: 100%
  background: $tercero
  position: absolute
  left: 50%
  top: 0
  transform: skew(45deg,0)
  transition: all .3s ease

.btn-primary:hover::before,
.btn-primary:active::before,
.btn-primary:focus::before
  width: 120%
  left: -10%

/*----------------------------------
  4. ESTILOS COLOR SECUNDARIO
  ---------------------------------*/

.bg-secondary 
  background-color: $secundario !important 
  
.text-secondary  
  color: $secundario !important
/*----------------------------------
  5. ESTILOS PARA ".redes-sociales"
  ---------------------------------*/

.redes-sociales li a i 
  color: $redes_texto 
  font-size: 1.5rem 
  padding: .6rem 1rem 
  opacity: .8 
  transition: all .3s ease-in-out 
    
.redes-sociales li a i:hover 
  opacity: 1 
  transform: scale(1.3) rotate(360deg)

/*----------------------------------
  6. ESTILOS PARA "#menu-navegacion"
  --------------------------------*/

  /*Quitamos estilos al boton por defecto*/
#menu-navegacion .navbar-toggler
  padding: 0
  font-size: 1rem
  line-height: 1
  background-color: transparent
  border: none
  border-radius: 0
  outline: 0


  /*Estilos boton del menu personalizado*/
#menu-navegacion .boton-menu::before 
  font-family: 'Font Awesome 5 Free'
  content: '\f0c9'
  font-weight: 900
  font-size: 2rem
  color: $redes_texto

/*Boton cerrar menu cuando agregamos la clase ".icono-cerrar"*/
#menu-navegacion .icono-cerrar::before
  content: '\f00d'
  position: relative
  left: .2rem

  /*Estilos de los enlaces del #menu-navegacion*/
.navbar-dark .navbar-nav .nav-link 
  padding: 1rem 1.5rem
  display: flex
  justify-content: space-between
  border-radius: .5rem
  transition: all .4s ease


.navbar-dark .navbar-nav .nav-link::after
  font-family: 'Font Awesome 5 Free'
  content: '\f105'
  font-weight: 900
  transition: all .3s ease
    
  /*Estilos estado hover de enlace*/
.navbar-dark .navbar-nav .nav-link:hover
  background-color: lighten($secundario, 10%)

.navbar-dark .navbar-nav .nav-link:hover:after
  transform: rotateZ(180deg)

  /*Estilos para el enlace activo*/
.navbar-dark .navbar-nav .nav-link.active
  background-color: $principal


/*--------------------------------------------------------------
  7. ESTILOS PARA "#animacion"
  -------------------------------------------------------------*/
.swiper-slide
  height: 34rem //450px
  text-align: center
  color: $redes_texto
  background-size: cover
  background-position: center center
/*Poner una capa transparente como filtro para dar una apariencia mas obscura*/
.swiper-slide::before
  content: ""
  position: absolute
  background: black
  left: 0
  right: 0
  top: 0
  bottom: 0
  opacity: 0.1

#slide3::before
  opacity: 0.6

/*Cambiamos el estilo de los botones para cambiar las imagenes*/
.swiper-button-prev,
.swiper-button-next
  color: transparent
  background-color: rgba($principal,.3 )
  width: 3rem
  height: 3rem
  border-radius: 50%
  transition: background-color .5s ease
  
.swiper-button-prev::before,
.swiper-button-next::before
  font-family: 'Font Awesome 5 Free'
  content: '\f060'
  font-weight: 900
  color: $redes_texto
  position: relative
  left: .83rem
/*Gira 180 grados el boton derecha*/
.swiper-button-next::before
  transform: rotate(180deg)
/*Cambio de color al colocar el mouse encima propiedad hover*/
.swiper-button-next:hover,
.swiper-button-prev:hover
  background-color: rgba($tercero,.7)

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before
  color: $principal


/*Estilos para el paginador*/
.swiper-pagination-bullet
  background: $tercero
  width: 1rem
  height: 1rem
  margin: 0 .5rem !important

.swiper-pagination-bullet-active
  background-color: $principal


/*--------------------------------------------------------------
  8. ESTILOS PARA "#bienvenidos"
  -------------------------------------------------------------*/
.contenedor-video a
  background-color: rgba($tercero, .79)
  color: $principal
  display: flex
  width: 5rem
  height: 5rem
  border-radius: 50%
  font-size: 2rem
  justify-content: center
  align-items: center
  text-decoration: none
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  background-clip: padding-box
  border: 0 solid transparent
  transition: all .5s ease

.contenedor-video a:hover
  color: $tercero
  background-color: $principal
  border: thick solid rgba($tercero,.5)


/*Aumenta el tamaño de la imagen*/
.contenedor-video img
  transition: all .5s ease

.contenedor-video:hover img
  transform: scale(1.2)

/*--------------------------------------------------------------
  9. ESTILOS PARA "#te-ayudamos"
  -------------------------------------------------------------*/
#te-ayudamos
  position: relative
  transform: skewY(6deg)
  overflow: hidden

#te-ayudamos::before
  content: ""
  position: absolute
  background: rgba(0, 0, 0, .5)
  left: 0
  right: 0
  top: 0
  bottom: 0

#te-ayudamos .container
  transform: skewY(-6deg)

/*--------------------------------------------------------------
  10. ESTILOS PARA "#logros"
  -------------------------------------------------------------*/
.contador-linea
  background-color: $principal
  width: 4rem
  height: .4rem
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  transition: all .5s ease

#logros .col-6:hover .contador-linea
  bottom: 1rem
  transform: translateX(-50%) rotate(180deg)
  background-color: $secundario

/*--------------------------------------------------------------
  11. ESTILOS PARA "#nuestra-app"
  -------------------------------------------------------------*/
#nuestra-app
  position: relative

#nuestra-app::before
  content: ""
  position: absolute
  background: rgba(0, 0, 0, .7)
  left: 0
  right: 0
  top: 0
  bottom: 0

/*--------------------------------------------------------------
  12. ESTILOS PARA "#contacto"
  -------------------------------------------------------------*/
#contacto .cuadrado
  position: absolute
  display: inline
  width: 2rem
  height: 2rem
  background: $principal
  bottom: 0
  transform: translate(-50%,50%) rotate(45deg)

/*INFORMACIÓN*/



/*----------------------------------
  X MEDIAS QUERIES
  --------------------------------*/

/* Quitar la flecha al final de cada boton del menu*/
@media (min-width: 768px) 
  .navbar-dark .navbar-nav .nav-link 
    padding: .7rem 1.2rem
    border-radius: 2rem

  /* Modifica los botones del menu*/  
  .navbar-dark .navbar-nav .nav-link::after 
    content: ""
    
  /* Hace que la pendiente sea mas corta*/
  #te-ayudamos
    transform: skewY(3deg)

  #te-ayudamos .container
    transform: skewY(-3deg)

/*Cambiar el tamaño de texto y altura de swiper*/
@media (min-width: 992px)
  html
    font-size: 16px
  
  .swiper-slide
    height: 37.5rem //600px

@media (min-width: 1200px)
  .swiper-slide
    height: 44rem //700px
